* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  min-height: 10vh;
  background: linear-gradient(90deg, #E76F51 0%, #264653 100%);
  background-blend-mode: darken;
  font-family: "Poppins", sans-serif;
}

.logo {
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
  align-content: space-between;
}

.logo a{
  color: #FFFFFF;
  text-decoration: none;  
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li {
  list-style: none;
}

nav .nav-links a {
  margin-top: 20px;
  color: #FFFFFF;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 14px;
  padding: 0 0 4px;
  display: inline-block;
  position: relative;
  background: linear-gradient(#FFFFFF, #FFFFFF) bottom/0% 2px no-repeat;
  transition: 1s all;
}

nav .nav-links a:hover {
  background-size: 100% 2px;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #FFFFFF;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1245px) {
  .nav-links {
      width: 40%;
  }
}

@media screen and (max-width: 1024px) {
  .nav-links {
      width: 50%;
  }
}

@media screen and (max-width: 768px) {
  body {
      overflow-x: hidden;
  }
  
  .nav-links {
      position: fixed;
      right: 0px;
      height: 92vh;
      top: 10vh;
      background: linear-gradient(90deg, #E76F51 0%, #264653 100%);
      background-blend-mode: darken;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
  }
  
  .nav-links li {
      opacity: 0;
  }
  
  .burger {
      display: block;
      cursor: pointer;
  }
}

.nav-active {
      transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
      opacity: 0;
      transform: translateX(50px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/*Banner Section*/

#banner{
	padding: 80px 0px 40px 0px;
}
#banner{  
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(90deg, #E76F51 0%, #264653 100%);
  background-blend-mode: darken;
	color: #fffFFF;
  height: 100vh;
}
.promo-title{
	font-size: 55px;
	font-weight: 800; 
}
.play-btn{
	width: 40px;
	margin: 20px;
}
#banner a{
	color: #fff;
	text-decoration: none;
}

/*Application services Section*/

#services{
	padding: 80px 0px 40px 0px;
}
#services{  
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #FFFFFF;
  background-blend-mode: darken;
	color: #fffFFF;
  min-height: 100vh;
}
#services .title{
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;
/* identical to box height */
text-decoration-line: underline;
-webkit-text-decoration-color: #264653;
text-decoration-color: #264653;
text-transform: uppercase;
color: #264653;
}

.services{
margin: auto;
margin-top: 20px;
width: 330px;
height: 500px;
left: 124px;
top: 864px;
background: #FFFFFF;
}
.services:hover{
box-shadow: 6px 6px 14px rgba(128, 116, 113, 0.5);
border-radius: 8px;
transition: 0.5s all;
}
.services-img{
	width: 20%;
	margin-top: 20px;
}
.services{
	padding: 20px;
}
.services h4{
	font-family: "Poppins", sans-serif;
  font-style: normal;
  padding: 5px;
	margin-top: 25px;
	text-transform: uppercase;
  color: #264653;
}
.services p{
  font-family: Montserrat;
  font-style: normal;
  color: #264653;
}


/*Application services Section*/

#About{
	padding: 80px 0px 40px 0px;
  background: #264653;
}
#About .title{
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;
/* identical to box height */
text-decoration-line: underline;
text-transform: uppercase;
color: #FFFFFF;
}

.About{
margin: auto;
margin-top: 20px;
left: 124px;
top: 864px;
}

.About-img{
	width: 20%;
	margin-top: 20px;
}
.About{
	padding: 20px;
}

.About p{
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #FFFFFF;
}

.About .btn-primary{
width: 413px;
height: 170px;
left: 958px;
top: 2013px;
background: #FFFFFF;
box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.25);
border-radius: 10px;
transform: rotate(-180deg);
}


/*Application services Section*/

#team{
	padding: 80px 0px 40px 0px;
}
#team .title{
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;
/* identical to box height */
text-decoration-line: underline;
-webkit-text-decoration-color: #264653;
text-decoration-color: #264653;
text-transform: uppercase;
color: #264653;
}

.team{
margin: auto;
top: 864px;
background: #FFFFFF;
}
.team:hover{
box-shadow: 6px 6px 14px rgba(128, 116, 113, 0.5);
border-radius: 8px;
transition: 0.5s all;
}
.team-img{
	width: 20%;
	margin-top: 20px;
}
.team{
	padding: 20px;
}
.team h4{
	font-family: "Poppins", sans-serif;
  font-style: normal;
  padding: 5px;
	margin-top: 25px;
	text-transform: uppercase;
  color: #264653;
}
.team p{
  font-family: Montserrat;
  font-style: normal;
  color: #264653;
}




